
$offset: 187;
$duration: 1s;

.notactive {
    display: none;
  }
.spinner {
    text-align: center;
  }
  
.spinn {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: $main-color-accent; }
	25% { stroke: $second-color-accent }
	50% { stroke: $main-color-accent; }
    75% { stroke: $second-color-accent; }
	100% { stroke: $main-color-accent;  }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}