$main-font: 'Roboto', sans-serif;

$main-white: #fff;
$second-white: #fafafa;
$main-grey: #f5f5f5;
$main-black: #000;
$second-grey: #ddd;

$main-bg-color: #ecf0f1;
$main-color-accent: #7cd1f9;
$second-color-accent: #9ee0ff;


